@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif !important;
}
html{
    scroll-behavior: smooth;
}
#home{
    height: 100vh;
    background: url("../images/Group\ 35.png") no-repeat center center/cover;
}
#navm{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarhome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navhome{
    text-decoration: none;
    padding:7px 19px;
    margin: 0px 2px;
    font-size: 16px;
    color: white;
    border-radius: 200px !important;
    cursor: pointer;
}
.navhome:hover{
    color: #fff;
    border: 1px solid #fff;
}
.england{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40px;
    margin-left: 10px;
}
.modal{
    color: #646464;
}
.modal-content{
    margin: auto !important;
    width: 350px !important;
}
.modal-header{
    border-bottom: 0px !important;
    font-size: 24px;
}
.modal-body{
    padding-bottom: 0px !important;
}
.modal-footer{
    border-top: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px !important;
}
.loginbutton{
    color: #ffffff;
    background-color: #3f8694;
    border-radius: 40px;
    font-size: 18px;
    padding: 5px 30%;
}
.loginbutton:hover{
    background-color: #1d7a8c;
}
#loginemail{
    width: 317px;
    background: url("../images/email.png") no-repeat center right 0.80rem;
}
#loginpassword{
    width: 317px;
    background: url("../images/password.png")  no-repeat center right 0.80rem;
}
#logincheckbox{
    margin-bottom: 0px !important;
}
.forgetpassword{
    margin-top: 10px;
    color: #1D7A8C !important;
    text-decoration: none;
}
.createaccount{
    margin-bottom: 10px;
    color: #1D7A8C !important;
    text-decoration: none;
}
.loginpara{
    margin: 0px;
}
.logo{   
    margin: 10px 10px 0px 10px;
    display: inline-block;
}
#r{
    border: 1px solid #fff;
}
#r:hover{
    color: #1d7a8c;
    background-color: #fff;
}
#disc{
    margin:110px 40px 0px 55px !important;
    color:white;
    font-size: 15px;
    padding: 0px;
}
.disc1{
    padding: 2px;
    margin: 0px;
}
.disc12{
    padding: 5px 2px;
    margin: 0px;
}
.righttick{
    margin-right: 10px;
}
#discmain{
    font-size: 50px;
}
#bookcleaner{
    text-align: center;
    text-decoration: none;
}
#lbc{
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid white;
    border-radius: 27px;
    background-color: #006072;
}
#lbc:hover{
    color: #29626D;
    background-color: white;
}
#flow{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flow1{
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.flow2{
    padding: 0px;
    padding-top:15px;   
}
#downarrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#whl{
    text-align: center;
    color: #4f4f4f;
    font-size: 35px;
    padding: 70px;
}
.whlimg{
    border-radius: 150px;
}
#whlmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whldisc{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin:0px 30px
}
.whldisc{
    width: 300px;
}
.whltitle{
   color: #565656;
   font-size: 25px; 
   text-align: center;
   margin: 10px;
}
.whldisc1{
    color: #565656;
    font-size: 15px; 
    text-align: center;
}
.cont{
    margin: 160px 200px 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conttitle{
    color:#4f4f4f;
    font-size: 28px;
}
.contdisc{
    color:#4f4f4f;
    font-size: 16px;
}
.container1{
    width: 50%;
}
.container2{
    width: 403px;
    max-width: 403px;
    margin-left: 97px;
}
.obmaintitle{
    text-align: center;
    color: #4f4f4f;
    font-size: 35px;
    margin-bottom: 50px;
}
.ob{
    margin:20px;
    width:357px;
    box-shadow: 0px 0px 30px #E4EBF0;
    border-radius: 4px;
}
.ob:hover{
    box-shadow: 0px 0px 30px #869aaa;
}
#ourblog{
    display: flex;
    margin: 0px 180px;
    justify-content: center;
}
.obtitle{
    color: #3d4046;
    font-size: 18px;
    padding: 3px 5px;
    margin: 0px;
}
.obdisc{
    color: #565656;
    padding:3px 5px;
    font-size: 15px;
    margin: 0px;
}
.obdate{
    color:#a3a3a3;
    font-size:11px;
    padding: 3px 5px;
    margin: 0px;
}
.rtp{
    color: #4f4f4f;
    size: 18px;
    padding:5px 11px 5px 3px ;
    display: inline-block;
    margin: 0px;
}
#wocstitle{
    padding: 50px 0px;
    text-align: center;
    color: #4f4f4f;
    font-size: 35px;
}
.wocs{
    margin:50px 0px 0px 0px;
    background-color: #f4f5f8;
}
.wocsflex{
    display: flex;
    margin: 0px 160px;
    justify-content: center;
}
.wocscontent{
    margin: 20px;
    width: 357px;
    background-color: white;
    border-left: 3px solid #1d7a8c ;
    margin-bottom: 40px;
}
.wocscontent:hover{
    box-shadow:0px 0px 30px #869aaa;
}
.wocsimg{
    padding: 25px 0px 5px 15px;
    display: block;
    margin: 0px;
    float: left;
}
.msgicon
{
    display:block;
    float: right;
    padding: 10px;
}
.wocsname{
    color: #4f4f4f;
    font-size: 18px;
    display: inline-block;
    padding: 40px 20px 0px 21px;
    margin: 0px;
}
.wocscity{
    color: #8e8e8e;
    font-size: 12px;
    display: inline-block;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}
.wocsdisc{
    margin: 0px;
    color: #565656;
    font-size: 16px;
    padding: 0px 20px;
}
.readmore{
    color: #565656;
    font-size: 18px;
    display: inline-block;
    padding: 10px 11px 0px 20px;
}
.readmoreicon:hover{
    margin-left: 10px; 
    transition: all 0.2s;  
    cursor: pointer;
}
#getons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#uparrow{
    display: inline-block;
    margin: 25px 0px 40px 0px;
    padding: 13px;
    background-color: #525252;
    border-radius: 50%;
}
#getonscontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 30%;
}
#getonstime{
    display: flex;
    margin: 5px 0px 40px 0px;
}
.getonsp{
    font-size: 17px;
    color: #353548;
    margin-bottom: 5px;
    font-weight: bold;
}
#getonsemail{
    height: 40px;
    width:230px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #f4f5f8;
    color: #565656;
    padding-left: 20px;
}
#submitbutton{
    height: 40px;
    width:88px;
    border: 0px;
    color: 0px;
    border-radius: 20px;
    background-color: #ff7b6d;
    color: white;
}
.footer{
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.footerlogo{
    padding: 20px 0px;
}
#navbottomflex{
    display: flex;
    margin:40px 18% ; 
    align-items: center;
    text-align: center;
}
.navb{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 13px;
    padding:0px 15px;
}
.navb:hover{
    color: #ffffff;
    font-weight: bold;
}
#igfb{
    display: flex;
}
#ig{
    display:inline-flex;
    margin: 40px 0px;
}
#okbuttonp{
    align-items: center;
    text-align: center;
    display: inline-block;
    color: #f1f1f1;
    font-size: 14px;
    padding: 23px;
}
.okbutton{
    display: block;
    background-color: #292929;
    display: flex;
    justify-content: center;
    opacity: 80;
}
#button{
    margin-top: 12px;
    color: #4f4f4f;
    background-color: #eed507;
    height: 40px;
    width:99px;
    padding: 10px 37px;
    border-radius: 20px;
    border: 0px;
}
.terms{
    font-size: 14px;
    color: #9ba0a3;
    background-color: #111111;
    border-top:1px solid#424242;
    padding: 22px 0px;
    text-align: center;
}
.text-decoration{
    text-decoration: none;
}
.a-color{
    color: #9ba0a3;
}
.navfacq{
    background-color: #525252;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#facqlogo{
    display: inline-block;
}
.facqnavitem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facqnav{
    margin:12px 10px;
    padding: 9px 18px;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    border-radius: 50px;
}
.facqnav:hover{
    color: #29626d;
    background-color: #ffffff;
}
.rf{
    border: 1px solid #ffffff;
    background-color: #29626d;
}
.nf{
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.facqimg{
    width: 100%;
}
.facqheader{
    text-align: center;
    font-size: 35px !important;
    color:#4f4f4f !important;
    margin: 32px 0px 9px 0px;
}
.faHeaderDecoration{
    display: flex;
    align-items: center;
    justify-content: center;
}
.facqHeaderText{
    text-align: center;
    margin: 20px 500px;
}
.line{
    display: inline-block;
    width:62px;
    height:1px;
    margin:0px 8px;
    background:#cccccc;
}
.whoseFor {
	margin-bottom: 48px;
}
.whoseFor .row {
	padding: 0 0.75rem;
	max-width: 946px;
	margin: auto;
}
.forCustomer, .forServiceProvider {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #f6f6f6;
	color: #646464;
	border-bottom: 4px solid #1d7a8c;
	font-size: 24px;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
}
.forCustomer.active, .forServiceProvider.active {
	background: #1d7a8c !important;
	color: #fff !important;
}
.accordion-item {
	border: 0 !important;
}
.accordion-btn {
	font-size: 16px;
	font-weight: bold;
	color: #646464;
}
.accordion-btn.collapsed img {
	transform: rotate(0);
}
.question {
	display: inline;
	margin-left: 15px;
}
.accordion-btn img {
	transform: rotate(90deg);
	transition: transform 0.4s;
}
.accordion-body {
    text-align: left;
	padding: 18px 0px;
	padding-left: 37px;
	font-size: 16px;
	color: #646464;
}
.accordion-item {
	margin-bottom: 40px;
}
.faqcontent{
    max-width: 946px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.pricedisc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdh{
    font-size: 28px;
    text-align: center;
    padding: 12px 0px;
    background-color:#1d7a8c;
    color: #ffffff;
    font-weight: bold;
    width: 530px;
    max-width: 530px;
    margin-top: 50px;
}
.euro{
    display: inline-block;
    font-size: 45px;
    color: #646464;
}
.ph{
    display: inline-block;
    font-size: 30px;
    color: #646464;
}
.pricediscmain{
    display: inline-block;
}
.actualprice{
    text-align: center;
    width: 530px;
    max-width: 530px;
    border-left:1px solid #1d7a8c;
    border-right:1px solid #1d7a8c;
}
.acdisc{
    color: #646464;;
    font-size: 16px;
    text-align: left;
    width: 530px;
    max-width: 530px;
    border-left:1px solid #1d7a8c;
    border-right:1px solid #1d7a8c;
    border-bottom: 1px solid #1d7a8c;;
}
.acdiscimg{
    padding-left: 20%;
}
.hrline{
    margin-top:50px;
    display: inline-block;
    height: 1px;
    width:80%;
    background: #dcdcdc;
}
.extraservice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 39px 0px;
}
.esimg{
    border:1px solid #B0C9CE;
    height: 108px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 54px;
    margin:0px 50px;
    cursor: pointer;
}
.esdisc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.esdiscmain{
    margin:10px 0px 0px 0px;
    font-size: 16px;
    color: #646464;
}
.estime{
    font-size: 18px;
    font-weight: bold;
    color: #1d7a8c;
}
.wwiic{
    background-color: #f6f6f6;
}
.wwiicheader{
    padding-top:73px ;
}
.cardmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border:0px;
    margin: 30px 15px 80px 15px;
    background-color: #f6f6f6 ;
}
.carddisc{
    display: inline-block;
    color: #4f4f4f;
    font-size: 16px;
    padding-left: 9px;
}
.cardheader{
    margin: 8px 0px;
    color: #4f4f4f;
    font-weight: bold;
    font-size: 20px;
}
.whlheader{
    margin-top: 71px;
}
.whl{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.whlright{
    padding-left: 22px;
    max-width:360px ;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.whlleft{
    padding-right: 22px;
    max-width:337px ;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.whyhelperlandreasonleft{
    font-size: 20px;
    text-align: left;
    color: #646464;
    font-weight: bold;
}
.whyhelperlandreasonright{
    font-size: 20px;
    text-align: right;
    color: #646464;
    font-weight: bold;
}
.whldiscmain{
    color: #646464;
    font-size: 14px;
    padding-bottom: 50px;
}
.aboutuscontainer{
    color: #646464;
    font-size: 16px;
    margin: 40px 280px 75px 280px;
    text-align: center;
}
.contactus{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.contactus p{
    font-size: 16px;
    color: #4f4f4f;
    padding: 10px;
}
.contactusdisc{
    padding: 50px 70px 10px 70px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#infomail{
    padding-top: 21px;
}
#infoadd{
    padding: 50px 48px 10px 48px!important;
}
.centerhr{
    display: flex;
    justify-content: center;
}
.gitwuheader{
    margin: 70px 0px 23px 0px;
    font-size: 28px;
    font-weight: bold;
    color: #4f4f4f;
}
.lmnm{
    display: flex;
}
.errorcss{
    flex-direction: column;
}
.gitwu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formdecoration{
    outline: none;
    margin:0px 14px 14px 0px;
    padding: 14px 15px;
    font-size: 16px;
    color:#646464;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    height: 46px;
    max-width:614px;
}
#firstname{
    width: 300px;
}
#lastname{
    width: 300px;
}
#countrycode{
    width: 57px;
    margin-right: 0px !important;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 4px 0px 0px 4px;
    background-color:#f6f6f6 ;
}
#mono{
    border: 1px 1px 1px 0px solid #c8c8c8;
    border-radius: 0px 4px 4px 0px;
    margin-left: 0px !important;
    width:243px;
}
#email{
    height: 46px;
    width: 300px;
    border: 1px solid #c8c8c8;
    border-radius: 4px !important;
    background-color: #ffffff;
}
#msg{
    height: 146px;
}
.submit #submitbutton{
    padding: 10px 50px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width:163px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    background-color: #1d7a8c;
    border: 0px;
    border-radius: 23px;
    margin-bottom: 80px;
}
.mapimg{
    position: absolute;
    top:182px;
    left:45%;
}
#contactushrline{
    margin-top: 40px;
}
.contactusmap {
	height: 400px;
}
.contactusmap iframe {
    width: 100%;
	height: 100%;
}
.contactusgetons{
    margin: 43px 0px 53px 0px !important;
}
.becomepro{
    background-color: #ffffff;
    box-shadow: 0px 0px 16px #00000026;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 430px;
    margin: auto;
    padding-bottom: 20px;
}
.becomeprodecoration{
    width:359px;
    padding: 13px 15px;
    margin: 7.5px 35px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    color: #A0A0A0;
    font-size: 16px;
    outline: none;
}
.register{
    margin: 19px ;
    color: #4f4f4f;
}
.bpccmono{
    display: flex;
    width: 84%;
}
#ccbecomepro{
    width: 15%;
    height: 52px;
    margin-top: 7.5px;
    color: #4f4f4f;
    font-size: 16px;
    margin-right: 0px;
    padding: 15px 8px 12px 11px;
    border: 1px solid #C8C8C8 !important;
    border-radius: 4px 0px 0px 4px;
    background-color: #f6f6f6;
}
#monobecomepro{
    width: 90%;
    color: #4f4f4f;
    font-size: 16px;
    padding: 13px 15px;
    margin: 7.5px 0px;
    border: 1px solid #C8C8C8;
    border-radius: 0px 2px 2px 0px;
    outline: none;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}
.check{
    display: flex;
    margin: 2px 0px ;
    columns: #4f4f4f;
    font-size: 16px;
}
.check:checked{
    background-color: #1d7a8c;
    border-color: #1d7a8c;
}
.check:focus{
    box-shadow: none;
    border-color: #1d7a8c;
}
.checkbox{
    height: 20px;
    width: 20px;
    margin: 0px;
}
.blue{
    color: #1fb6ff !important;
}
#becomeaprovider{
    height: 100%;
    background: url("../images/group-18\ \(3\).png") no-repeat center center/cover;
}
#becomeaprovider .field-validation-error
{
    color:red;
    font-size: 14px;
    margin: 0px;
    padding: 0px 40px;
}
#becomeaprovider .input-validation-error 
{  
    border-color:rgb(226, 69, 69);
    margin-bottom: 0px;
}
.signuppage .field-validation-error,.modal-body .field-validation-error
{
    color:red;
    font-size: 14px;
    margin: 0px;
    padding: 0px 10px;
}
.signuppage .input-validation-error,.modal-body .input-validation-error
{
    border-color:rgb(226, 69, 69);
    margin-bottom: 0px;
}
.backbutton{
    color:#1d7a8c !important;
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
    border: 0px;
    background-color: #ffffff;
}
.gitwu .field-validation-error{
    color:red !important;
    font-size: 14px;
    margin: 0px 5px 5px 0px;
    padding: 4px 0px;
}
.gitwu .input-validation-error
{
    border-color:rgb(226, 69, 69) !important;
    margin-bottom: 0px !important;
}
.becomeprosubmit{
    background-color: #1d7a8c;
    border-radius: 23px;
    font-size: 16px;
    border: 0px;
    color: #ffffff;
    padding: 13px 27px;
    margin:19px;
}
#prosedure h2{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    color: #4f4f4f;
}
.child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child11{
    width: 350px;
    margin: 20px 150px 20px 0px;
}
.proceheader{
    color: #4f4f4f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.procedisc{
    color: #646464;
    font-size: 16px;
    margin-bottom: 30px;
}
.readmorebecomeprovider{
    color: #646464;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
#prosedure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.child22{
    width: 350px;
    margin: 20px 0px 20px 150px;
}
.blogleft{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.blogright{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
#usnavself{
    margin-left: 12px;
}
.usnavstyle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #525252;
}
.usnavstyle img{
    padding: 6px 0px 4px 0px;
}
#usnavicon{
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 5px 20px 5px 20px;
    margin-left: 4px;
}
.navuscont{
    color: #ffffff;
    font-size: 17px;
    padding: 10px 21px;
    text-decoration: none;
    border-radius: 20px;
}
.navuscont:hover{
    color: #fff;
    border: 1px solid #fff;
}
#usnavss{
    padding: 0px 17px 0px 5px;
    cursor: pointer;
}
.welcometext{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f4f4f;
    font-size: 30px;
    background-color: #f9f9f9;
    border-bottom:1px solid #e1e1e1 ;
    height: 119px;
}
.uscont{
    display: flex;
}
.vertnav{
    display: flex;
    flex-direction: column;
    margin: 30px 14px;
    height:630px;
    background-color: #1D7A8C;
    top: 30px;
}
.vertnavcont{
    display: flex;
    align-items: center;
    color:#ffffff !important;
    border-bottom: 1px solid #3f99ac;
    font-size: 17px;
    padding: 15px;
    width: 260px;
    text-decoration: none;
}
.vertnavcont:hover{
    background-color: #146371;
}
.current{
    background-color: #146371;
}
#ustable {
	border-collapse: collapse !important;
	max-width: 100% !important;
	width: 100% !important;
}
.upcomingservicestable{
    /* max-width: 861px; */
    flex: 1;
    min-width: 0;
    padding:30px 20px 30px 0px;
}
#ustable thead tr {
	background: rgb(224, 224, 224, 0.5) !important;
	border: 1px solid #e1e1e1 !important;
}
#ustable tbody tr {
	border: 1px solid #e1e1e1 !important;
}
.usnavmobile,.usnavmobile1{
    display: none;
}
.uscol{
    color: #646464;
    font-size: 16px;
}
.uscolbutton{
    color: #ffffff;
    padding:7px 15px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
#uscol1{
    margin-top: 7px;
    margin-bottom: 0px;
    background-color: #1d7a8c;
}
#uscol2{
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 10px;
    background-color: #FF6B6B;
}
div.dataTables_info {
	padding-top: 15px !important;
	padding-left: 8px !important;
}
div.dataTables_length, div.dataTables_paginate {
	padding-top: 10px !important;
}
table.dataTable tbody th, table.dataTable tbody td{
    padding: 8px 0px !important;
}
.dataTables_wrapper div.dataTables_info,.dataTables_wrapper div.dataTables_length {
	clear: right !important;
	font-size: 14px !important;
	color: #646464 !important;
}
.dataTables_wrapper .dataTables_length select {
	margin: 0 10px !important;
	font-size: 14px !important;
	color: #646464 !important;
	border: 1px solid #e1e1e1 !important;
	border-radius: 4px !important;
	outline: none !important;
}
table.dataTable thead th.sorting_asc {
	background-image: url("../images/sort1.png") !important;
}
table.dataTable thead th.sorting_desc {
	background-image: url("../images/sort2.png") !important;
}
table.dataTable thead .sorting {
	background-image: url("../images/sort.png") !important;
	background-position: right 4px top 50% !important;
}
table.dataTable thead th, table.dataTable tbody td {
	border: none !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current,
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
	border: 1px solid #1d7a8c !important;
	background: #1d7a8c !important;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.disabled:hover {
	cursor: not-allowed !important;
	background: transparent !important;
	border: 1px solid #e1e1e1 !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.next:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button.first:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button.last:hover {
	background: transparent !important;
	border: 1px solid #e1e1e1 !important;
}
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate span {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	flex-wrap: wrap;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: 1px solid #e1e1e1 !important;
	border-radius: 50% !important;
	color: #777777 !important;
	padding: 0 !important;
	height: 38px !important;
	width: 38px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	transition: background 0.3s, color 0.3s;
}
.navshextra{
    padding: 10px 10px;
    color: #ffffff;
    text-decoration:none;
    background-color: #29626D;
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.navshextra:hover{
    color: #29626D;
    background-color: #ffffff;
}
.shcol{
    color: #646464;
    font-size: 14px;
}
.lumwat{
    display: flex;
}
.capimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
}
.shcol3{
    color: #1d7a8c;
    font-size: 24px;
}
.redgreen{
    color: #ffffff; 
    font-size: 14px;
    border-radius: 2px;
    text-align: center;
    padding:3px 7px;
    max-width: 100px;
}
#green{
    background-color: #67b644;
}
#red{
    background-color: #FF6B6B;
}
.ratesp{
    color: #ffffff;
    font-size: 14px;
    border-radius: 17px;
    padding: 8px 12px;
    background-color: #6DA9B5;
    text-align: center;
    max-width: 80px;
}
.ratespcompleted{
    background-color: #1d7a8c;
}
.servicehistorytag{
    position: absolute;
    color: #646464;
    font-size: 22px;
}
.dataTables_wrapper .dt-button{
    color: #ffffff;
    background-color: #146371;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 9px 15px;
    margin-bottom: 10px;
    float: right;
}
.leftrightimg{
    position: relative;
}
.signuppage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 42px;
}
.signuppage .check{
    margin-left: 7px;
}
.signuppage p{
    color: #646464;
}
.signuppage a{
    color: #4794a3;
    text-decoration: none;
}
.horiflex{
    display: flex;
}
#signupfirstname , #signuplastname , #signupemail , #signuppassword , #signupconfirmpassword{
    width: 310px !important;
    margin: 7px 7px !important;
}
.signupccmono{
    display: flex;
    margin: 7px 7px !important;
}
#signupcc{
    width: 60px;
    border-radius: 4px 0px 0px 4px;
    border-right: 0px;
    margin: 0px;
}
#signupmono{
    width: 250px;
    border-radius: 0px 4px 4px 0px;
    margin: 0px;
}
.signuppage #submitbutton{
    margin: 0px auto 10px auto;
}
.inputfile{
    width: 0.1px;
    height: 0.1px;
    pointer-events: none;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.filelabaled{
    margin-top: 0px;
    color: #4f4f4f;
    font-size: 16px;
    padding:10px 25px;
    border: 1px solid #4f4f4f;
    border-radius: 30px;
    cursor: pointer;
}
.filelabaled:hover{
    color: #1D7A8C;
    padding:10px 25px;
    border: 1px solid #3b90a1;
}
#file{
    align-items: center;
}
.attachment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.attach{
    color: #4f4f4f;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}
#btnpopover{
    padding: 0px !important;
    outline: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.textnone{
    color: #4f4f4f;
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
}
.loginbutton,.loginbutton:focus,.loginbutton:active{
    box-shadow: 0px !important;
    outline: 0px !important;
    border: 0px !important;
}
.resetpass .field-validation-error
{
    color:red;
    font-size: 14px;
    margin: 0px;
    padding: 0px 10px;
}
.resetpass .input-validation-error 
{  
    border-color:rgb(226, 69, 69);
    margin-bottom: 0px;
}
.resetpassword{
    margin: 10px;
    width: 500px;
}
#resetpasssubmit{
    color: #ffffff !important;
    background-color: #1d7a8c;
    border: 0px;
    padding: 10px 20px;
    width: 200px;
    border-radius: 200px;
    margin-bottom: 20px;
}
.resetpass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setupservicemaincontent{
    padding:0px 20px;
}
.nav-link{
    color:#646464 !important;
    font-size: 18px;
    padding:17px 18px;
    background-color: #F3F3F3 ;
    border-radius: 0px;
    border: 0px;
    position: relative;
    height: 60px;
}
.tabimg{
    margin-right: 7.5px;
    height: 32px;
    width: 32px;
    object-fit: none;
    object-position: 0 0;
}
.extraservicecheck:checked+label .esimg{
    border: 3px solid #1D7A8C;
}
.extraservicecheck:checked+label svg path{
    fill: #1d7a8c;
}
.nav-link.active .tabimg , .nav-link.completed .tabimg{
	object-position: 0 -32px;
}
.nav-link.active::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 14px solid transparent;
    border-top: 14px solid #1d7a8c;
    bottom: -27px;
    left: calc(50% - 14px);
}
.nav-link.active ,.nav-link:focus , .nav-link.completed{
    color: #FFFFFF !important;
    background-color: #1D7A8C ;
}
.checkavail{
    color: #FFFFFF;
    background-color: #1D7A8C ;
    border: 0px;
    border-radius: 200px;
    padding: 11px 22px;
    width: 174px;
    outline: none;
}
#Postalcode{
    width:306px;
    border-radius: 4px;
    padding: 12px 15px;
    height: 46px;
    box-shadow: none;
    border: 1px solid #dedddd;
    margin-right: 10px;
    outline: none;
}
#eypc{
    margin: 10px 0px;
    color:#4f4f4f;
    font-size: 16px;
}
.setupsummary{
    margin: 0px 30px;
    box-shadow: 0px 0px 7px #00000059;
    opacity: 1;
}
.paymentsummary{
    color: #ffffff;
    background-color: #1d7a8c;
    font-size: 18px;
    padding: 18px 22px;
    width:360px;
    height: 60px;
    line-height: 20px;
}
.datetimebed,.basic{
    padding: 0px 18px;
    color:#4F4F4F;
    font-size: 16px;
    margin: 0px;
    line-height:18px;
}
.basic p{
    margin-bottom: 10px;
}
.duration{
    padding: 0px 18px;
    color:#4F4F4F;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    line-height: 20px;
}
.dbasic{
    padding: 0px 18px;
    color:#4F4F4F;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    line-height: 20px;
}
.mainsummary{
    font-size: 20px;
    color: #1D7A8C;
    padding: 5px 18px 0px 18px;
    margin: 0px;
    line-height: 25px;
}
.halflineok{
    height: 1px !important;
    width: 324px !important;
    background: #E1E1E1;
    padding: 0px 18px;
}
#scheduledate{
    height: 46px;
    width:160px;
    border: 1px solid #dedddd;
    border-radius: 4px;
    padding-left: 40px;
	cursor: pointer;
    margin: 0px;
    color: #646464;
    outline: none;
}
#scheduletime , #scheduleduration{
    height: 46px;
    width:110px;
    border: 1px solid #dedddd;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 10px;
    color: #646464;
    outline: none;
    background: #ffffff;
}
#scheduleduration{
    margin: 0;
}
.quationheader{
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 500;
    margin-bottom: 7px;
    margin-top: 10px;
}
.setupsummary hr{
    width: calc(100% - 36px);
    margin: auto;
    margin-bottom: 5px;
    background-color: #dcdcdc;
    opacity: 1;
}
.fullline{
    width: 100% !important;
    margin: 0px;
    margin-bottom: 10px !important;
}
.forhrline .hrline{
    width: 100%;
    margin-top: 27px;
    line-height: 1px;
}
.basicbottom{
    background-color: #F3F3F3;
    color: #8D8D8D;
}
.swiai{
    padding-left: 7px;
}
.right-icon{
    transform: rotate(90deg);
}
.scheduleservice .extraservice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px;
}
.scheduleservice .esimg{
    margin: 0px;
}
.scheduleservice .esdisc{
    margin: 0px;
}
.extraqh{
    margin-top: 18px;
}
#bookservicecomments{
    height: 100px;
    width: 100%;
    border: 1px solid #dedddd;
    border-radius: 4px;
    outline: none;
    padding: 10px;
}
#petsyesorno{
    color: #4F4F4F;
    font-size: 16px;
    margin-top: 4px;
}
#petscheck{
    height: 18px;
    width: 18px;
    margin-top: 7px;
}
.extraavail{
    font-weight: bold;
    padding: 11px 22px;
    font-size: 20px;
    width: 141px;
}
.serviceaddress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e1e1e1;
    margin: 15px 0px;
    border-radius: 4px;
}
.addressservice{
    color: #4f4f4f;
    font-size: 16px;
    margin: 10px 20px 10px 20px;
    width: 100%;
}
.add1{
    width: 18px;
    height: 18px;
    margin: 0px 0px 0px 15px;
}
.ana{
    color: #1d7a8c;
    border: 1px solid #1d7a8c;
    padding: 10px 15px;
    border-radius: 200px;
    width: 175px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
}
.ana.collapsed{
    display: block;
}
.ana:hover{
    background-color: #1d7a8c;
    color: #ffffff;
    font-weight: 400;
}
.anaform{
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    margin-bottom: 20px;
    background: #f8f8f8;
}
.addaddressform{
    width:344px;
    font-size: 16px;
    padding: 12px 15px;
    border: 1px solid #dedddd;
    outline: none;
    line-height: 20px;
    height: 46px;
    color: #646464;
    border-radius: 4px;
}
.formlable{
    color: #4f4f4f;
    margin-bottom: 4px;
    font-size: 16px;
}
#addresscc, #addresscc1{
    width: 60px;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}
#addressmono ,#addressmono1{
    width:284px;
    border-radius: 0px 4px 4px 0px;
}
#saveaddress, #editaddressbutton{
    background: #1d7a8c;
    border: none!important;
    font-size: 16px;
    line-height: 24px;
    color: #fff!important;
    transition: all 0.3s ease;
    padding: 11px 25px;
    border-radius: 23px;
    width: 100px;
}
#canceladdress{  
    border:1px solid #c6c6c6;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    transition: all 0.3s ease;
    padding: 11px 25px;
    border-radius: 23px;
    margin-left: 12px;
    width: 100px;
    cursor: pointer;
}
.anaform{
    display: static;
}
.checkavailextra{
    color: #1D7A8C;
    border: 1px solid #1d7a8c;
    border-radius: 200px;
    padding: 11px 22px;
    width: 100px;
    outline: none;
    background-color: #ffffff;
    margin-left: 5px;
}
.checkavailextra:hover{
    color: #ffffff;
    background-color: #1d7a8c;
}
.paymentservice .hrline{
    margin: 25px 0px;
    width: 100%;
}
#creditcarddetails{
    width: 100%;
    background: "MM / YY CVC"  no-repeat center right 0.80rem;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    color: #c5c5c5;
}
.paymentservice #logincheck{
    height: 18px;
    width: 18px;
    margin-top: 4px;
}
.bluetext{
    color: #1d7a8c;
    display: inline-block;
}
.creditcheck{
    width: 700px;
    margin-left: 10px;
}
.extraavailable{
    width: 200px;
    font-size: 18px;
    font-weight: bold;
}
.quationheaderhr{
    display: none;
}
.quationheaderextra{
    display: none;
}
.dnformobile{
    margin: 0px;
}
.setupfaqs{
    width: 360px;
}
.adminnavvertcontent1, .adminnavvertcontent2 , .adminnavvertcontent3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminvertnav p{
    margin-bottom: 0px;
}
.ccm2 , .ccm1 , .ccm3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgss{
    filter: invert(1);
    transform: rotate(-90deg);
}
.admininsidevertnav1, .admininsidevertnav2 , .admininsidevertnav3{
    display: none;
    flex-direction: column;
    background-color: #F9F9F9;
}
.admininsidevertnav1:hover , .admininsidevertnav2:hover , .admininsidevertnav3:hover{
    color: #646464;
}
.admininsidevertnavcont{
    color: #646464 !important;
    text-decoration: none;
    padding: 6px 17px;
    font-size: 15px;
}
.facqbottom{
    display: inline-block;
    color: #1d7a8c;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #1d7a8c;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px 0px 20px 0px;
    font-weight: 500;
}
.facqbottom:hover{
    color: #fff;
    background-color: #1d7a8c;
}
.datePicker::before {
	content: "";
	pointer-events: none;
	height: 20px;
	width: 20px;
	background: url("../images/imgpsh_fullsize_anim\ \(1\).png") center center;
	background-size: contain;
	position: absolute;
	top: 12px;
	left: 12px;
}
.serviceIndividualTime{
    margin: 7px 0px;
}
.loaderContainer {
	z-index: 1000000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
}
body.loading {
	height: 100vh;
	overflow: hidden;
}
body.loading .loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.loaderContainer .loader {
	height: 100px;
	width: 100px;
	border: 10px solid transparent;
	border-top-color: #1d7a8c;
	border-bottom-color: #1d7a8c;
}
body.loading .loaderContainer .loader {
	animation: loaderAnimation linear 1s infinite;
}
.toastContainer {
	z-index: 10;
}

.fc-event {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	border: none;
	border-radius: 0;
	padding: 6px 3px;
	cursor: pointer;
	color: #fff;
}

/* .fc-event-time,
.fc-daygrid-event-dot {
	display: none !important;
} */

.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
	color: #646464 !important;
	text-decoration: none !important;
}

th .fc-scrollgrid-sync-inner {
	background: #f9f9f9;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 15px 0;
}

.fc-toolbar-chunk {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fc-next-button span,
.fc-prev-button span {
	vertical-align: initial !important;
}
.fc-next-button span::before,
.fc-prev-button span::before {
	content: "" !important;
	display: inline-block;
	width: 10px;
	height: 17px;
	background: url("../images/right-arrow-medium.png") no-repeat center center;
}

.fc-prev-button span::before {
	transform: rotate(180deg);
}

.fc-next-button,
.fc-prev-button {
	background: #fff !important;
	box-shadow: none !important;
	border: 1px solid #e1e1e1 !important;
	border-radius: 0 !important;
	height: 44px;
	width: 46px;
	position: relative !important;
	transition: background 0.3s ease;
	outline: 0 !important;
}
.fc-next-button:hover,
.fc-prev-button:hover {
	background: #f6f6f6 !important;
}
.fc-toolbar-title {
	color: #646464;
}

.fc-upcomingBtn-button,
.fc-completedBtn-button {
	background: transparent !important;
	border: 0 !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
	color: #646464 !important;
	box-shadow: none !important;
	cursor: text !important;
	outline: none !important;
	padding: 0px !important;
}

.fc-upcomingBtn-button::before,
.fc-completedBtn-button::before {
	content: "";
	display: inline-block;
	height: 17px;
	width: 17px;
	border-radius: 1px;
	margin-right: 5px;
	border: 1px solid #e1e1e1 !important;
	background: #efefef;
}

.fc-upcomingBtn-button::before {
	border: 1px solid #1d7a8c !important;
	background: #1d7a8c;
}
@keyframes loaderAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
#successModal .modal-dialog, #errorModal .modal-dialog {
	max-width: 400px;
	margin: auto;
}
#successModal img {
	padding: 25px;
	background-color: #67b644;
}
#errorModal img {
	padding: 15px;
	height: 75px;
	width: 75px;
	background-color: red;
}
#successModal button, #errorModal button {
	background: #1d7a8c;
}
.dashboardpayment{
    color: #1D7A8C;
    font-weight: 500;
    font-size: 30px;
}
.actioncenter{
    text-align: center;
}
.floatright{
    float: right;
    color: #fff  !important;
    background-color: #1d7a8c;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 7px;
}
.mysettings .nav-link{
    color:#646464;
    font-size: 18px;
    padding:17px 18px;
    background-color: #fff ;
    border-radius: 0px;
    border-bottom: 3px solid #dfdfdf;
    position: relative;
    height: 60px;
}
.mysettings .nav-link.active ,.mysettings .nav-link:focus ,.mysettings .nav-link.completed{
    border-bottom: 3px solid #1d7a8c;
    color: #1d7a8c !important;
    font-weight: 500;
    background-color: #fff ;
}
.nav-link.active::before{
  display: none;
}
.mysettings{
    margin-top: 20px !important;
}
.mysettings .formdecoration{
    width: initial;
}
.fnlnea{
    flex-wrap: wrap;
}
.mydetailsdob{
    outline: none;
    padding: 4px 8px;
    font-size: 16px;
    color:#646464;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    height: 46px;
    width: 100%;
    margin-bottom: 10px;
}
#detailsmono , #detailscc{
    outline: none;
    padding: 4px 8px;
    font-size: 16px;
    color:#646464;
    border:1px solid #c8c8c8;
    height: 46px;
}
#detailscc{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    padding: 0px;
}
#detailsprelan{
    width: 110px;
    height: 50px;
}
#pills-changepassword .mydetailsdob{
    width: 30%;
    margin-bottom: 10px;
}
#changedetailssubmit , #changepasswordsubmit{
    width: 80px;
}
.addressmodal .modal-content{
    width: 780px !important;
}
.addressmodal .modal-dialog{
    max-width: 780px !important;
}
.cover,.cover1,.cover2,.cover3 {
    mix-blend-mode: color;
    background-color: white;
    width: 100%;
}
.threerating {
    padding: 5px 20px;
}
.ratingtype {
    color: #666666;
    font-size: 16px;
    margin-bottom: 0px;
}
#ratingmodal {
    width: 100%;
}
#ratingcomment , #cancelcomment{
    width: 100%;
    height: 80px;
}
.distthree {
    margin-bottom: 12px;
}
.rysp {
    color: #666666;
    margin: 10px 20px;
    margin-top: 0px;
}
#ratingmodal hr {
    margin: 0px 20px;
}
#ratingmodal label , #CancelModal label{
    color: #666666;
    font-size: 18px;
}
#CancelModal textarea{
    margin: 0px;
    height: 130px;
    width: 100%;
}
#ratingmodal .lumwat {
    padding: 10px 20px;
}
.mysettings .serviceaddress{
    justify-content: space-between;
    align-items: center;
}
select{
    background-color: #ffffff;
}#serviceDetails {
	font-size: 16px;
	color: #646464;
}
#serviceDetails .modal-dialog {
	max-width: 900px;
}
#serviceDetails .modal-content{
    width: 100% !important;
}
.paymentAmount {
	color: #1d7a8c;
	font-size: 24px;
	font-weight: bold;
}
.serviceProvider > img {
	border: 1px solid #aaaaaa;
	margin-right: 12px;
	height: 46px;
	width: 46px;
}
.serviceProviderInfo .serviceProviderName {
	font-size: 16px;
	color: #646464;
	margin-bottom: 4px;
}
.rate {
	font-size: 14px;
	padding: 8px 10px 6px;
	text-decoration: none;
	background: #1d7a8c;
	color: #fff !important;
	outline: none;
	border: none;
	transition: background 0.3s;
    margin-bottom: 20px;

}
.rate:hover {
	background: #146371;
}
.cancel {
	font-size: 14px;
	padding: 8px 10px 6px;
	background: #ff6b6b;
	outline: none;
	border: 0;
	color: #fff !important;
	transition: background 0.3s;
    margin-bottom: 20px;

}
.cancel:hover {
	background: #cc5656;
}
.tac{
    text-align: center;
}
#savedetail .input-validation-error , #changepassword .input-validation-error , #addressvalidation .input-validation-error , #addressvalidation .input-validation-error{
    border: 1px solid red;
    margin-bottom: 0px;
}
#changepassword .field-validation-error , #savedetail .field-validation-error, #addressvalidation  .modal-body .input-validation-error {
    color: red;
    margin-top: 1px 0px 5px 0px;
    padding: 0px !important;
}
.mapcontainer{
    background-color: #E1E1E1;
}
.acceptbutton{
    color: #ffffff;
    background-color: #1d7a8c;
    padding: 7px 10px;
    border-radius: 20px;
    width: 100px;
    margin-top: 15px;
}
.acceptparent{
    display: flex;
    justify-content: center;
}
.ratingtable #ustable , .blocktable #ustable{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ratingtable table.dataTable tbody td.feedbackdata{
    border-top: 1px solid #e1e1e1 !important;
}
.blocktable table.dataTable tbody tr{
    margin: 23px;
}
.blockunblock{
    color: #fff;
    padding: 7px 20px;
    border-radius: 25px;
}
.blocked{
    background-color: #1D7A8C;
}
.unblocked{
    background-color: #FF6B6B;
}
.gendertag{
    margin-bottom: 0px;
    font-size: 20px;
    color: #646464;
    font-weight: 450;
}
#M, #F, #RNTS{
    height: 17px;
    width: 17px;
    content: "";
}
.genderlabel{
    margin-left: 7px;
    font-size: 16px;
    color: #646464;
}
.radiodiv{
    margin-right: 30px;
}
.avatar input[type="radio"]:checked + label {
	border: 3px solid #1d7a8c;
    border-radius: 50%;
}
.upcomingcancelbutton{
    background-color: #FF6B6B ;
}
.form-check-input:focus {
	box-shadow: none !important;
	border-color: #1d7a8c;
	color: #646464 !important;
}
.form-check-input:checked {
	border-color: #1d7a8c !important;
	background-color: #1d7a8c !important;
}
.ratingcolor{
    color: #646464;
    font-size: 16px;
}