 
    <section>
        <img src="~/images/contactUsImage.png" alt=""  class="facqimg">
    </section>   



    <section class="facqheader">
        <p>Contact Us</p>
    </section>
    <div class="faHeaderDecoration">
        <span class="line"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
            <path
                fill-rule="evenodd"
                fill="#1D7A8C"
                d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z"
            />
        </svg>
        <span class="line"></span>
    </div>



    <section class="contactus">
        <div class="contactusdisc" id="infoadd">
            <img src="~/images/address.png" alt="">
            <p>1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>
        </div>
        <div class="contactusdisc">
            <img src="~/images/phone-call.png" alt="">
            <p>+49 (40) 123 56 7890 <br>+49 (40) 987 56 0000</p>
        </div>
        <div class="contactusdisc">
            <img src="~/images/mail.png" alt="">
            <p id="infomail">info@helperland.com</p>
        </div>
    </section>



    <div class="centerhr">
        <span class="hrline" id="contactushrline"></span>
    </div>



<section class="gitwu">
    <p class="gitwuheader">Get in touch with us</p>
        <form action="#" method="get">
            <div class="lmnm">
                <input type="text" id="firstname" name="firstname" placeholder="First Name" class="formdecoration">
                <input type="text" id="lastname" name="lastname" placeholder="Last Name" class="formdecoration">
            </div>
            <div class="monoemail d-flex align-items-center">
                <div class="ccmono">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <input type="text" id="countrycode" name="countrycode" placeholder="+91" class="formdecoration">                    
                        <input type="number" id="mono" name="mono" placeholder="Mobile Number" class="formdecoration"> 
                    </div>
                </div>                  
                <input type="email" id="email" name="email" placeholder="Email Address" class="formdecoration">
            </div>
            <div class="select">
                <select name="subject" id="subject" class="formdecoration">
                    <option value=""selected>Subject</option>
                    <option value="Not Satisfied">We are not satisfied with your service</option>
                    <option value="Extra Services" >What type of extra service do you provide?</option>
                </select>
            </div>
            <div class="textarea">
                <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Message" class="formdecoration"></textarea>
            </div>
            <div class="submit">
                <button type="submit" class="formdecoration" id="submitbutton">Submit</button>
            </div>
        </form>
</section>


    <section class="map">
        <img src="~/images/locationMarker.png" alt="" class="mapimg">
    </section>

    <div id="getonscontent" class="contactusgetons">
        <p class="getonsp">GET OUR NEWSLETTER</p>
        <form action="">
            <input type="email" placeholder="YOUR EMAIL" id="getonsemail">
            <input type="submit" id="submitbutton">
        </form>
      </div>