@model HELPERLAND.Models.ViewModels.ContactusViewmodel;
@{
    ViewData["Title"] = "Contact Us | Helperland";
}
<section>
    <img src="~/images/contactUsImage.png" alt="" class="facqimg">
</section>



<section class="facqheader">
    <p>Contact Us</p>
</section>
<div class="faHeaderDecoration">
    <span class="line"></span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
        <path fill-rule="evenodd" fill="#1D7A8C"
            d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z" />
    </svg>
    <span class="line"></span>
</div>



<section class="contactus">
    <div class="contactusdisc" id="infoadd">
        <img src="~/images/address.png" alt="">
        <p>1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>
    </div>
    <div class="contactusdisc">
        <img src="~/images/phone-call.png" alt="">
        <p>+49 (40) 123 56 7890 <br>+49 (40) 987 56 0000</p>
    </div>
    <div class="contactusdisc">
        <img src="~/images/mail.png" alt="">
        <p id="infomail">info@helperland.com</p>
    </div>
</section>



<div class="centerhr">
    <span class="hrline" id="contactushrline"></span>
</div>



<section class="gitwu">
    <p class="gitwuheader d-flex">Get in touch with us</p>
    <form asp-controller="home" asp-action="Contact" method="post" enctype="multipart/form-data">
        <div class="lmnm d-flex">
            <div class="d-flex flex-column justify-content-start">
                <input type="text" placeholder="First Name" class="formdecoration" asp-for="firstname">
                <span asp-validation-for="firstname"></span>
            </div>
            <div class="d-flex flex-column">
                <input type="text" placeholder="Last Name" class="formdecoration" asp-for="lastname">
                <span asp-validation-for="lastname" class="danger"></span>
            </div>
        </div>
        <div class="monoemail d-flex">
            <div class="ccmono">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center w-100">
                        <input type="text" id="countrycode" name="countrycode" placeholder="+91" class="formdecoration"
                            disabled>
                        <input type="text" placeholder="Mobile Number" class="formdecoration" asp-for="mono">
                    </div>
                    <span asp-validation-for="mono"></span>
                </div>
            </div>
            <div class="d-flex flex-column">
                <input type="email" placeholder="Email Address" class="formdecoration" asp-for="email">
                <span asp-validation-for="email"></span>
            </div>
        </div>
        <div class="select d-flex">
            <select class="formdecoration" asp-for="subject">
                <option value="General" selected>General</option>
                <option value="Inquiry">Inquiry</option>
                <option value="Renewal">Renewal</option>
                <option value="Revocation">Revocation</option>
            </select>
        </div>
        <div class="textarea d-flex">
            <textarea cols="30" rows="10" placeholder="Message" class="formdecoration" asp-for="msg"></textarea>
            <span asp-validation-for="msg"></span>
        </div>
        <div class="attachment d-flex">
            <input type="file" class="inputfile" asp-for="File">
            <p class="attach">Attachment</p>
            <label for="File" class="d-flex" id="file">
                <p class="filelabaled">Upload</p>
                <div class="divfile ms-2 mb-3"></div>
            </label>

        </div>
        <div class="submit">
            <button type="submit" class="formdecoration" id="submitbutton">Submit</button>
        </div>
    </form>
</section>


<div class="contactusmap">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.275556085999!2d7.130313315722784!3d50.73337787951554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8addff5d1803d%3A0x518acab4fd9eb236!2sHelperland%20GmbH!5e0!3m2!1sen!2sin!4v1644254819355!5m2!1sen!2sin"
        allowfullscreen="true" loading="lazy"></iframe>
</div>

<div id="getonscontent" class="contactusgetons">
    <p class="getonsp">GET OUR NEWSLETTER</p>
    <form action="">
        <input type="email" placeholder="YOUR EMAIL" id="getonsemail">
        <input type="submit" id="submitbutton">
    </form>
</div>

@section CustomScripts{

<script>
    const divfile = document.querySelector(".divfile");
    const fileIp = document.querySelector("input[type='file']");

    fileIp.addEventListener("focusout", () => divfile.innerHTML = (fileIp.files.length > 0) ? fileIp.files[0].name : "No File Selected");
    fileIp.addEventListener("change", () => divfile.innerHTML = (fileIp.files.length > 0) ? fileIp.files[0].name : "No File Selected");
</script>

}