
    
    <div>
        <img src="~/images/group-18.png" alt=""  class="facqimg">
    </div>   

    <div class="facqheader">
        <p>Prices</p>
    </div>
    <div class="faHeaderDecoration">
        <span class="line"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
            <path
                fill-rule="evenodd"
                fill="#1D7A8C"
                d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z"
            />
        </svg>
        <span class="line"></span>
    </div>


    <div class="pricedisc">
        <div class="pdh">
            One Time
        </div>
        <div class="actualprice">
            <p class="euro">&euro;20</p>
            <p class="ph">/hr</p>
        </div>
        <div class="acdisc">
            <div><img src="~/images/forma-1_5.png" alt="" class="acdiscimg"><p class="pricediscmain">Lower prices</p></div>
            <div><img src="~/images/forma-1_5.png" alt="" class="acdiscimg"><p class="pricediscmain">Easy online & secure payment</p></div>
            <div><img src="~/images/forma-1_5.png" alt="" class="acdiscimg"><p class="pricediscmain">Easy amendment</p></div>
        </div>
        <span class="hrline"></span>
    </div>


    <div class="facqheader">
        <p>Extra Services</p>
    </div>
    <div class="faHeaderDecoration">
        <span class="line"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
            <path
                fill-rule="evenodd"
                fill="#1D7A8C"
                d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z"
            />
        </svg>
        <span class="line"></span>
    </div>

    <div class="extraservice">
        <div class="esdisc">
            <div class="esimg"><img src="~/images/forma-1_3.png" alt=""></div>
            <p class="esdiscmain">Inside Cabinates</p>
            <p class="estime">30 minutes</p>
        </div>
        <div class="esdisc">
            <div class="esimg"><img src="~/images/fridge.png" alt=""></div>
            <p class="esdiscmain">Inside Fridge</p>
            <p class="estime">30 minutes</p>
        </div>
        <div class="esdisc">
            <div class="esimg"><img src="~/images/forma-1_4.png" alt=""></div>
            <p class="esdiscmain">Inside Oven</p>
            <p class="estime">30 minutes</p>
        </div>
        <div class="esdisc">
            <div class="esimg"><img src="~/images/forma-1_2.png" alt=""></div>
            <p class="esdiscmain">Laundry Wash & Dry</p>
            <p class="estime">30 minutes</p>
        </div>
        <div class="esdisc">
            <div class="esimg"><img src="~/images/forma-1.png" alt=""></div>
            <p class="esdiscmain">Interior Windows</p>
            <p class="estime">30 minutes</p>
        </div>
    </div>


    <div class="wwiic">
        <div class="facqheader wwiicheader">
            <p>What we include in cleaning</p>
        </div>
        <div class="faHeaderDecoration">
            <span class="line"></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
                <path
                    fill-rule="evenodd"
                    fill="#1D7A8C"
                    d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z"
                />
            </svg>
            <span class="line"></span>
        </div>
        <div class="cardmain">
        <div class="card">
            <img src="~/images/group-18_3.png" alt="">
            <p class="cardheader">Bedroom and Living Room</p>
            <div class="carditem">
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Dust all accessible surfaces</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Wipe down all mirrors and glass fixures</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Clean all floor surfaces</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Take out garbage and recycling</p></div>  
            </div>
        </div>
        <div class="card">
            <img src="~/images/group-18_4.png" alt="">
            <p class="cardheader">Bathroom</p>
            <div class="carditem">
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Wash and sanitize the toilet,shower,tub,sink</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Dust all accessible surfaces</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Wipe down all mirrors and glass fixures</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Clean all floor surfaces</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Take out garbage and recycling</p></div> 
            </div>    
        </div>
        <div class="card">
            <img src="~/images/group-18_2.png" alt="">
            <p class="cardheader">Kitchen</p>
            <div class="carditem">
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Dust all accessible surfaces</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Empty sink and load updishwasher</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Wipe down exterior of stove,oven and fridge</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Clean all floor surfaces</p></div>
                <div><img src="~/images/vector-smart-object-copy.png" alt=""><p class="carddisc">Take out garbage and recycling</p></div> 
            </div>    
        </div>
        </div>
    </div>


    <div class="facqheader whlheader">
        <p>Why Helperland</p>
    </div>
    <div class="faHeaderDecoration">
        <span class="line"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25">
            <path
                fill-rule="evenodd"
                fill="#1D7A8C"
                d="M22.93 13.616c.575 0 1.068-.481 1.068-1.122 0-.56-.493-1.041-1.068-1.041-.987 0-9.26-.321-9.26-10.053 0-.921-1.096-1.3-1.671-1.3-.576 0-1.069.379-1.069 1.3 0 9.732-8.39 10.053-9.26 10.053H.985c-.575.08-.985.481-.985 1.041 0 1.056.492 1.041 1.67 1.041.466 0 9.26.321 9.26 10.414 0 .56.493 1.041 1.069 1.041.493.71.986-.401.986-.71 0-10.344 8.876-10.664 9.863-10.664h.082z"
            />
        </svg>
        <span class="line"></span>
    </div>

    <div class="whl">
            <div class="whlright">                
                <p class="whyhelperlandreasonright">Experienced and vetted professionals</p>
                <div class="whldiscmain">Dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</div>
                <p class="whyhelperlandreasonright">Dedicated customer service</p>
                <div class="whldiscmain">To our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</div>
            </div>
            <img src="~/images/the-best-img-1.png" alt="" class="thebestimg">
            <div class="whlleft">
                <p class="whyhelperlandreasonleft">Every cleaning is insured</p>
                <div class="whldiscmain">And seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</div>
                <p class="whyhelperlandreasonleft">Secure online payment</p>
                <div class="whldiscmain">Payment is processed securely online. Customers pay safely online and manage the booking.</div>
            </div>
    </div>


    <div id="getons">
        <div id="uparrow">
            <a href="#facqlogo"><img src="~/images/Forma 1_4.png" alt=""></a>
        </div>
        <div id="getonscontent">
            <p class="getonsp">GET OUR NEWSLETTER</p>
            <form action="">
                <input type="email" placeholder="YOUR EMAIL" id="getonsemail">
                <input type="submit" id="submitbutton">
            </form>
        </div>
        <div id="getonstime">
            <img src="~/images/Layer 598.png" alt="">
        </div>
    </div>
    
    