@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#home{
    /* width: 100%; */
    height: 100vh;
    background: url("images/Group\ 35.png") no-repeat center center/cover;
}
#navm{
    margin-top: 43px;
    margin-right: 15px;
    float:right;
}
.nav{
    text-decoration: none;
    padding:5px 20px !important;
    margin: 0px 2px !important;
    font-size: 15px;
    color: white !important;
    /* position: fixed; */
}
.logo{   
    margin: 10px 10px 0px 10px;
    display: inline-block;
    /* position: fixed; */
}
#r{
    border: 1px solid white;
    border-radius: 20px;
}
#disc{
    margin:150px 55px 0px 55px;
    color:white;
    font-size: 15px;
}
.disc1{
    padding: 2px;
}
#discmain{
    font-size: 50px;
}
#bookcleaner{
    text-align: center;
    text-decoration: none;
    margin: 20px;
}
#lbc{
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid white;
    border-radius: 27px;
    background-color: #006072;
}
#flow{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flow1{
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.flow2{
    padding: 0px;
    padding-top:15px;   
}
#downarrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#whl{
    text-align: center;
    color: #4f4f4f;
    font-size: 35px;
    margin: 70px;
}
.whlimg{
    border-radius: 150px;
}
#whlmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whldisc{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin:0px 30px
}
.whldisc{
    width: 300px;
}
.whltitle{
   color: #565656;
   font-size: 25px; 
   text-align: center;
   margin: 10px;
}
.whldisc1{
    color: #565656;
    font-size: 15px; 
}
.cont{
    margin: 160px 200px 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conttitle{
    color:#4f4f4f;
    font-size: 28px;
}
.contdisc{
    color:#4f4f4f;
    font-size: 16px;
}
.container1{
    width: 50%;
    /* flex-grow: 1; */
}
.container2{
    width: 403px;
    max-width: 403px;
    margin-left: 97px;
}
.obmaintitle{
    text-align: center;
    color: #4f4f4f;
    font-size: 35px;
    margin-bottom: 50px;
}
.ob{
    margin:20px;
    width:357px;
    box-shadow: 0px 0px 30px #E4EBF0;
    border-radius: 4px;
}
#ourblog{
    display: flex;
    margin: 0px 180px;
    justify-content: center;
}
.obtitle{
    color: #3d4046;
    font-size: 18px;
    padding: 3px 5px;
}
.obdisc{
    color: #565656;
    padding:3px 5px;
    font-size: 15px;
}
.obdate{
    color:#a3a3a3;
    font-size:11px;
    padding: 3px 5px;
}
.rtp{
    color: #4f4f4f;
    size: 18px;
    padding:5px 11px 5px 3px ;
    display: inline-block;
}
#wocstitle{
    padding: 50px 0px;
    text-align: center;
    color: #4f4f4f;
    font-size: 35px;
}
.wocs{
    margin:50px 0px 0px 0px;
    background-color: #f4f5f8;
}
.wocsflex{
    display: flex;
    margin: 0px 160px;
    justify-content: center;
}
.wocscontent{
    margin: 20px;
    width: 357px;
    background-color: white;
    border-left: 3px solid #1d7a8c ;
    margin-bottom: 40px;
}
.wocsimg{
    padding: 25px 0px 5px 15px;
    display: block;
    float: left;
}
.msgicon
{
    display:block;
    float: right;
    padding: 10px;
}
.wocsname{
    color: #4f4f4f;
    font-size: 18px;
    display: inline-block;
    padding: 40px 20px 0px 21px;
}
.wocscity{
    color: #8e8e8e;
    font-size: 12px;
    display: inline-block;
    padding: 0px 0px 0px 20px;
}
.wocsdisc{
    margin: 20px;
    color: #565656;
    font-size: 16px;
}
.readmore{
    color: #565656;
    font-size: 18px;
    display: inline-block;
    padding: 0px 11px 20px 20px;
}
#getons{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
#uparrow{
    display: inline-block;
    margin: 25px 0px 40px 0px;
    padding: 13px;
    background-color: #525252;
    border-radius: 50%;
}
#getonscontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 30%;
}
#getonstime{
    display: flex;
    margin: 5px 0px 40px 0px;
}
.getonsp{
    font-size: 17px;
    color: #353548;
    margin-bottom: 5px;
    font-weight: bold;
}
#getonsemail{
    height: 40px;
    width:230px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #f4f5f8;
    color: #565656;
    padding-left: 20px;
}
#submitbutton{
    height: 40px;
    width:88px;
    border: 0px;
    color: 0px;
    border-radius: 20px;
    background-color: #ff7b6d;
    color: white;
}
.footer{
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.footerlogo{
    padding: 20px 0px;
}
#navbottomflex{
    display: flex;
    margin:40px 18% ; 
    align-items: center;
    text-align: center;
}
.navb{
    text-decoration: none;
    color: #f1f1f1 !important;
    font-size: 13px;
    padding:0px 15px;
}
#igfb{
    display: flex;
}
#ig{
    display:inline-flex;
    margin: 40px 0px;
}
#okbuttonp{
    align-items: center;
    text-align: center;
    display: inline-block;
    color: #f1f1f1;
    font-size: 14px;
    padding: 23px;
}
.okbutton{
    display: block;
    background-color: #292929;
   display: flex;
   justify-content: center;
    opacity: 80;
}
#button{
    margin-top: 12px;
    color: #4f4f4f;
    background-color: #eed507;
    height: 40px;
    width:99px;
    padding: 10px 37px;
    border-radius: 20px;
    border: 0px;
}
.terms{
    font-size: 14px;
    color: #9ba0a3;
    background-color: #111111;
    border-top:1px solid#424242;
    padding: 22px 0px;
    text-align: center;
}
.text-decoration{
    text-decoration: none;
}
.a-color{
    color: #9ba0a3;
    
}
.navfacq{
    background-color: #525252;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#facqlogo{
    display: inline-block;
}
.facqnavitem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facqnav{
    margin:12px 10px;
    padding: 9px 18px;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 17px;
}
.rf{
    border: 1px solid #ffffff;
    background-color: #29626d;
    border-radius: 50px;
}
.nf{
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.facqimg{
    width: 100%;
}
.facqheader{
    text-align: center;
    font-size: 35px !important;
    color:#4f4f4f !important;
    margin: 32px 0px 9px 0px;
}
.faHeaderDecoration{
    display: flex;
    align-items: center;
    justify-content: center;
}
.facqHeaderText{
    text-align: center;
    margin: 20px 500px;
}

.line{
    display: inline-block;
    width:62px;
    height:1px;
    margin:0px 8px;
    background:#cccccc;
}

.whoseFor {
	margin-bottom: 48px;
}

.whoseFor .row {
	padding: 0 0.75rem;
	max-width: 946px;
	margin: auto;
}

.forCustomer,
.forServiceProvider {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #f6f6f6;
	color: #646464;
	border-bottom: 4px solid #1d7a8c;
	font-size: 24px;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
}

.forCustomer.active,
.forServiceProvider.active {
	background: #1d7a8c !important;
	color: #fff !important;
}

.accordion-item {
	border: 0 !important;
}

.accordion-btn {
	font-size: 16px;
	font-weight: bold;
	color: #646464;
}

.accordion-btn.collapsed img {
	transform: rotate(0);
}

.question {
	display: inline;
	margin-left: 15px;
}
.accordion-btn img {
	transform: rotate(90deg);
	transition: transform 0.4s;
}


.accordion-body {
    text-align: left;
    /* margin: 0px 20%; */
	padding: 18px 0px;
	padding-left: 37px;
	font-size: 16px;
	color: #646464;
}

.accordion-item {
	margin-bottom: 40px;
}
.faqcontent{
    max-width: 946px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pricedisc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdh{
    font-size: 28px;
    text-align: center;
    padding: 12px 0px;
    background-color:#1d7a8c;
    color: #ffffff;
    font-weight: bold;
    width: 530px;
    max-width: 530px;
    margin-top: 50px;
}
.euro{
    display: inline-block;
    font-size: 45px;
    color: #646464;
}
.ph{
    display: inline-block;
    font-size: 30px;
    color: #646464;
}
.pricediscmain{
    display: inline-block;
}
.actualprice{
    text-align: center;
    width: 530px;
    max-width: 530px;
    border-left:1px solid #1d7a8c;
    border-right:1px solid #1d7a8c;
}
.acdisc{
    color: #646464;;
    font-size: 16px;
    text-align: left;
    width: 530px;
    max-width: 530px;
    border-left:1px solid #1d7a8c;
    border-right:1px solid #1d7a8c;
    border-bottom: 1px solid #1d7a8c;;
}
.acdiscimg{
    padding-left: 20%;
}
.hrline{
    margin-top:50px;
    display: inline-block;
    height: 1px;
    width:80%;
    background: #dcdcdc;
}
.extraservice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 39px 0px;
}
.esimg{
    border:1px solid #B0C9CE;
    height: 108px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 54px;
    margin:0px 50px
}
.esdisc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.esdiscmain{
    margin:10px 0px 0px 0px;
    font-size: 16px;
    color: #646464;
}
.estime{
    font-size: 18px;
    font-weight: bold;
    color: #1d7a8c;
}
.wwiic{
    background-color: #f6f6f6;
}
.wwiicheader{
    padding-top:73px ;
}
.cardmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border:0px;
    margin: 30px 15px 80px 15px;
    background-color: #f6f6f6 ;
}
.carddisc{
    display: inline-block;
    color: #4f4f4f;
    font-size: 16px;
    padding-left: 9px;
}
.cardheader{
    margin: 8px 0px;
    color: #4f4f4f;
    font-weight: bold;
    font-size: 20px;
}
.whlheader{
    margin-top: 71px;
}
.whl{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.whlright{
    /* max-height: 241px; */
    padding-left: 22px;
    max-width:360px ;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: right;
}
.whlleft{
    padding-right: 22px;
    max-width:337px ;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
}
.whyhelperlandreasonleft{
    font-size: 20px;
    text-align: left;
    color: #646464;
    font-weight: bold;
}
.whyhelperlandreasonright{
    font-size: 20px;
    text-align: right;
    color: #646464;
    font-weight: bold;
}
.whldiscmain{
    color: #646464;
    font-size: 14px;
    padding-bottom: 50px;
}
.aboutuscontainer{
    color: #646464;
    font-size: 16px;
    margin: 40px 280px 75px 280px;
    text-align: center;
}
.contactus{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.contactus p{
    font-size: 16px;
    color: #4f4f4f;
    padding: 10px;
}
.contactusdisc{
    padding: 50px 70px 10px 70px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#infomail{
    padding-top: 21px;
}
#infoadd{
    padding: 50px 48px 10px 48px!important;
}
.centerhr{
    display: flex;
    justify-content: center;
}
.gitwuheader{
    margin: 70px 0px 23px 0px;
    font-size: 28px;
    font-weight: bold;
    color: #4f4f4f;
}
.gitwu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.formdecoration{
    margin:0px 14px 14px 0px;
    padding: 14px 15px !important;
    font-size: 16px;
    color:#a0a0a0;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    height: 46px;
    width:614px
}
#firstname{
    width: 300px;
}
#lastname{
    width: 300px;
}
#countrycode{
    width: 57px;
    margin-right: 0px !important;
    border-radius: 4px 0px 0px 4px;
    background-color:#f6f6f6 ;
}
#mono{
    border: 1px 1px 1px 0px solid #c8c8c8;
    border-radius: 0px 4px 4px 0px;
    margin-left: 0px !important;
    width:243px;
}
#email{
    height: 46px;
    width: 300px;
    border: 1px solid #c8c8c8;
    border-radius: 4px !important;
    background-color: #ffffff;
}
#msg{
    height: 146px;
}
.submit #submitbutton{
    padding: 10px 50px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width:163px;
    color:white;
    font-size: 18px;
    font-weight: bold;
    background-color: #1d7a8c;
    border: 0px;
    border-radius: 23px;
    margin-bottom: 80px;
}
.mapimg{
    position: absolute;
    top:182px;
    left:45%;
}
#contactushrline{
    margin-top: 40px;
}
.map{
    position: relative;
    width: 100%;
    height: 400px;
    background: url("./images/map.png") no-repeat center center/cover;
}
.contactusgetons{
    margin: 43px 0px 53px 0px !important;
}